<!-- sintaxes de data binding -->
 <!--
<app-button label="buttonLabel"></app-button>
<app-button label="{{buttonLabel}}"></app-button>
<app-button [label]="buttonLabel"></app-button> 
<app-button [label]="'buttonLabel'"></app-button>-->

<!-- two way data binding
<app-entry-data></app-entry-data>-->

<h1>My App</h1>

<app-comp-atributos>
    <h2>olá</h2>
    <p>sou o Rodrigo</p>
</app-comp-atributos>

<button (click)="disposeTitle()">Destruir</button>

<app-title></app-title>

<app-card *ngIf="isAliveTitle; else anotherBlock" nome="Rodrigo"></app-card>

<ng-template #anotherBlock>
    <p>olá, sou um bloco secreto!</p>
</ng-template>

<br>

<app-input></app-input>
<app-list-view></app-list-view>
